/*
profile.css

CSS only linked on profile pages.
*/

main {
    display: flex;
    flex-direction: column;
    margin: 0 3rem;
}

.profile-edit-actions {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
    width: 100%;
}

.profile-its-you {
    display: flex;
    gap: 20px;
    align-items: center;
}

input[type="text"], input[type="url"], textarea {
    height: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    border: solid black 1px;
    margin: 10px 0;
}

textarea {
    width: 100%;
    resize: vertical;
}
